button, li, div, span{
    font-size: 1em;
}


.heading-1{
 font: 5em sans-serif;
}

.heading-2{
 font: 4.7em sans-serif;
}

.heading-3{
 font: 4.35em sans-serif;
}

.heading-4{
 font: 3.5em sans-serif;
}

.heading-5{
 font: 2.5em sans-serif;
}

.heading-6{
 font: 0.6em sans-serif;
}

.card-100{
    width: "100%";
}

.card-20 {
    width: 200px !important;
}

.card-10 {
    width: 20%;
}

.paragraph{
    font: 1em sans-serif;
}

.review-card {
    box-shadow: 2px 2px 5px 1px #000A !important;
    background-color: #DDDDFF !important;
}

.card-icon{
    width: 100px;
    height: 100px;
}

.dropdown-link-text{
    color: #DDD;
}

.product-card{
    width: 195px !important;
    height: 295px !important;
}

.cta-button{
    font-size: 1.5em;
}

.text{
    font-size: 1em;
}

.icon-25x25 {
    width: 25px !important;
    height: 25px !important;
}

.icon-50x50{
    width: 50px !important;
    height: 50px !important;
}

.icon-100x100{
    width: 100px !important;
    height: 100px !important;
}

.page{
    min-height: 100vh !important;
    max-height: 100% !important;
}


.required::after{
    content: ' *';
    color: #F00;
}

.place-order-button{
    background-color: #00FF00;
    color: #002200;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.place-order-button:hover{
    background-color: #00AA00;
}

.cart-product-preview{
    width: 120px;
    height: 150px;
    background-color: #555;
}


.product-variation-data-container{
    width: auto;
    max-height: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    border-radius: 5px;
    transition: max-height 0.3s ease;
    background-color: #20F1;
}

.product-variation-data-container.show{
    max-height: 200px;
}


@media (max-width: 426px) {
    .heading-1 {
        font: 3.0em sans-serif;
    }

    .heading-2 {
        font: 3.2em sans-serif;
    }

    .heading-3 {
        font: 2.4em sans-serif;
    }

    .heading-4 {
        font: 1.6em sans-serif;
    }

    .heading-5 {
        font: 1.2em sans-serif;
    }

    .heading-6 {
        font: 0.8em sans-serif;
    }

    .paragraph {
        font: 1.15em sans-serif;
    }

    .card-20 {
        width: 98% !important;
    }

    .card-icon {
        width: 100px;
        height: 100px;
    }

    .product-card {
        width: 195px;
        height: 295px;
    }
}


@media (min-width: 426px) and (max-width: 769px) {

    .heading-1 {
        font: 4.0em sans-serif;
    }

    .heading-2 {
        font: 3.2em sans-serif;
    }

    .heading-3 {
        font: 2.4em sans-serif;
    }

    .heading-4 {
        font: 1.6em sans-serif;
    }

    .heading-5 {
        font: 1.4em sans-serif;
    }

    .heading-6 {
        font: 0.8em sans-serif;
    }

    .paragraph {
        font: 1.15em sans-serif;
    }

    .card-20 {
        width: 98% !important;
    }

    .product-card {
        width: 195px !important;
        height: 295px !important;
    }

}


@media (min-width: 769px) and (max-width: 1025px) {
    .heading-1 {
        font: 4.0em sans-serif;
    }

    .heading-2 {
        font: 3.2em sans-serif;
    }

    .heading-3 {
        font: 2.4em sans-serif;
    }

    .heading-4 {
        font: 1.6em sans-serif;
    }

    .heading-5 {
        font: 1.4em sans-serif;
    }

    .heading-6 {
        font: 0.8em sans-serif;
    }

    .paragraph {
        font: 1.15em sans-serif;
    }

    .card-20 {
        width: 220px !important;
    }

        .product-card {
            width: 195px;
            height: 295px;
        }
    
}



@media (min-width: 1025px) and (max-width: 1441px) {
    .heading-1 {
        font: 4.8em sans-serif;
    }

    .heading-2 {
        font: 4em sans-serif;
    }

    .heading-3 {
        font: 3.2em sans-serif;
    }

    .heading-4 {
        font: 2.4em sans-serif;
    }

    .heading-5 {
        font: 1.6em sans-serif;
    }

    .heading-6 {
        font: 0.8em sans-serif;
    }

    .paragraph {
        font: 1.15em sans-serif;
    }

    .card-20 {
        width: 210px !important;
    }

    .product-card {
        width: 195px;
        height: 295px;
    }
}


/** laptop screen size (1920x1080) **/
@media (min-width: 1441px) and (max-width: 1901px) {
    .heading-1 {
        font: 3.6em sans-serif;
    }

    .heading-2 {
        font: 3.8em sans-serif;
    }

    .heading-3 {
        font: 3em sans-serif;
    }

    .heading-4 {
        font: 2.8em sans-serif;
    }

    .heading-5 {
        font: 1.4em sans-serif;
    }

    .heading-6 {
        font: 1.3em sans-serif;
    }

    .paragraph {
        font: 1.1em sans-serif;
    }

    .card-20 {
        width: 220px !important;
    }

    .review-card{
        width: 450px !important
    }

    .card-icon {
        width: 50px;
        height: 50px;
    }

    .product-card {
        width: 195px !important;
        height: 295px !important;
    }

    .text, label {
        font-size: 1em;
    }
}


@media (min-width: 1901px) and (max-width: 2561px) {
    .heading-1 {
        font: 3.6em sans-serif;
    }

    .heading-2 {
        font: 3.8em sans-serif;
    }

    .heading-3 {
        font: 3em sans-serif;
    }

    .heading-4 {
        font: 2.8em sans-serif;
    }

    .heading-5 {
        font: 2.0em sans-serif;
    }

    .heading-6 {
        font: 1.6em sans-serif;
    }

    .paragraph {
        font: 1.5em sans-serif;
    }

    .card-20 {
        width: 280px !important;
    }

    .review-card {
        width: 450px !important
    }

    .product-card {
        width: 195px !important;
        height: 295px !important;
    }

    #footer li, .text {
        font-size: 1.5em;
    }

    .text, label {
        font-size: 1.4em !important;
    }
}


@media (min-width: 2561px) {
    .heading-5 {
        font: 2.7em sans-serif;
    }

    .heading-6 {
        font: 1.9em sans-serif;
    }

    .card-20 {
        width: 380px !important;
    }

    .paragraph {
        font: 2em sans-serif;
    }

    .review-card {
        width: 600px !important
    }

    .product-card{
        width: 395px !important;
        height: 495px !important;
    }

    .cta-button {
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-size: 2.4em;
    }

    .text, label{
        font-size: 1.8em !important;
    }

    .cart-icon{
        width: 50px !important;
        height: 50px !important;
    }

    .footer-category-text{
        width: 400px !important;
    }

    .font-icon{
        width: 40px;
        height: 40px;
    }

    input[type='text']{
        height: 50px;
        font-size: 1.8em;
    }

    .send-button{
        font-size: 1.8em !important;
    }
}

.cta-button{
    background-color: #FFAA00;
    color: black;
    transition: transform 0.3s ease-in-out;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.cta-button:hover{
    transform: scale(1.02);
    background-color: #EE8800;
}


.step-card{
    background-color: #2e2e2e !important;
    color: white !important;
    box-shadow: 0px 0px 10px 1px #555;
    transition: transform 0.1s ease-in-out;
}

.step-card:hover{
    transform: scale(1.03);
}


.authentication-form{
    background-color: #EEEEFF;
    box-shadow: 0px 0px 0px 0px #DDF;
    transition: transform 0.3s ease-in-out;
}

.authentication-form:hover{
    transform: scale(1.02);
    animation: popupForm;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.authentication-form:not(:hover){
    transform: scale(1.0);
    animation: normalForm;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}


@keyframes popupForm {
    from{
        box-shadow: 0px 0px  0px 0px #DDF;
    }

    to{
        box-shadow: 5px 5px 0px 0px #DDF;
    }
}

@keyframes normalForm {
    from{
        box-shadow: 5px 5px 0px 0px #DDF;
    }

    to{
        box-shadow: 0px 0px  0px 0px #DDF;
    }
}



.form-field{
    background-color: white !important;
}


.admin-dashboard-card{
    position: relative;
    border-radius: 8px;
    padding: 10px;
    /* overflow: hidden; */
    background-color: white;
}

.admin-dashboard-card::before{
    content: "";
    position: absolute;
    inset: 0;
    background: conic-gradient(from 0deg, #0000FF, #AA00FF, #FF0000, #FFAA00, #FF5555, #FF0000, #AA00FF, #0000FF, #00AAFF, #0000FF);
    padding: 2px;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    border-radius: 8px;
    z-index: 1;
}

.tools-button {
    display: none;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    color: white !important;
}


.tools-button:hover {
    background-color: #FFF1;
    backdrop-filter: blur(10px);
}

.image-card{
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.image-card:hover{
    transform: scale(1.03);
}

.image-card:hover .tools-button{
    display: inline;
}

.wall-image-container{
    display: grid !important;
    grid-template-columns: repeat(33%, 33%, 33%);
    grid-template-rows: auto;
}

.new-request-button{
    background: linear-gradient(45deg, #AA00FF, #0000FF);
    color: white;
    font-weight: bold;
}


.request-card{
    background-color: #335588;
}


.clipped-background::before{
    content: '';
    inset: 0;
    z-index: -1;
    position: absolute;
    background: linear-gradient(45deg, #000 1%, #0000 30%), url("../../assets/ChatGPT Image Jul 4, 2025, 01_24_45 PM.webp");
    background-size: "cover";
    clip-path: polygon(0% 0%, 50% 0%, 70% 100%, 0% 100%);
}


input:-webkit-autofill {
    background-color: white !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}


.move-up-on-visible{
    margin-top: 10px;
    animation: move-up-animation 0.3s ease-in-out;
}

@keyframes move-up-animation {
    from{
        margin-top: 10px;
        opacity: 0.0;
    }

    to{
        margin-top: 0px;
        opacity: 1.0;
    }
}


.whatsapp-button{
    background-color: transparent !important;
    border: 3px solid #00DD00 !important;
    color: #0D0 !important;
    font-weight: bolder;
    font-size: 18px;
}

.whatsapp-button:hover{
    background-color: #00DD00 !important;
    color: #050 !important;
}


.popup-delay-02{
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    transition-delay: 0.2s;
}

.popup-delay-04 {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    transition-delay: 0.4s;
}

.popup-delay-06 {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    transition-delay: 0.6s;
}

.popup-delay-08 {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    transition-delay: 0.8s;
}

.delayed-popup-card{

}

.popup-delay-1 {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    transition-delay: 1s;
}

.popup-delay-02.show{
    transform: scale(1.0);
}
.popup-delay-04.show{
    transform: scale(1.0);
}
.popup-delay-06.show{
    transform: scale(1.0);
}
.popup-delay-08.show{
    transform: scale(1.0);
}
.popup-delay-1.show{
    transform: scale(1.0);
}


.top-form{
    background-color: #2200FF10;
}


.filled-width-dropdown{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.filled-width-dropdown.expand-dropdown{
    max-height: 300px;
}

.down-arrow{
    width: 10px !important;
    height: 10px !important;
    margin-top: -4px;
    border-bottom: solid 3px #000;
    border-right: solid 3px #000;
    transform: rotate(45deg);
    transition: transform 0.3s ease, margin-top 0.3s ease;
}

.down-arrow.point-up{
    transform: rotate(-135deg);
    margin-top: 4px;
}

.vertical-wrap-container{
    display: flex !important;
    flex-wrap: wrap;
    overflow: hidden;
}



.gallery {
    display: grid;
    grid-template-areas:
        "thumbs-right main"
        "thumbs-right thumbs-bottom";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 8px;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    margin: auto;
    box-sizing: border-box;
}

.main {
    grid-area: main;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main div {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.thumbs-right {
    grid-area: thumbs-right;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.thumbs-right div,
.thumbs-bottom div {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.2s;
}

.thumbs-bottom {
    grid-area: thumbs-bottom;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.thumbs-right img:hover,
.thumbs-bottom img:hover {
    transform: scale(1.05);
}